<div class="container">
  <div>
    <header class="site-header" id="header">
      <h1 class="site-header__title" data-lead-id="site-header-title">
        THANK YOU!
      </h1>
    </header>

    <div class="main-content">
      <i class="fa fa-check main-content__checkmark" id="checkmark"></i>
      <p class="main-content__body" data-lead-id="main-content-body">
        Thank you for submitting your store and phone details. Your contribution
        helps us maintain accurate records. Rest assured, your information has
        been received and will be processed. For any updates or changes, please
        feel free to contact us.
      </p>
    </div>

    <footer class="site-footer" id="footer">
      <p class="site-footer__fineprint" id="fineprint">
        Copyright ©2023 | All Rights Reserved
      </p>
    </footer>
  </div>
</div>
